{% extends 'layout.html' %}
{% load static %}
{% block main %}
 <!-- Contact Start -->
 <div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                {% if result == 'success' %}
                <div class="alert alert-success" role="alert">Muracietiniz gonderildi!</div>
                {% elif result == 'fail'%}
                <div class="alert alert-danger" role="alert">Muracietiniz gonderilmedi!</div>
                {% endif %}
                <div id="success"></div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="control-group mb-3">
                        {{form.name}}
                        {% if error in form.name.errors %}
                        <p class="help-block text-danger">{{error}}</p>
                        {% endif %}
                    </div>
                    <div class="control-group mb-3">
                        {{form.email}}
                        {% if error in form.name.errors %}
                        <p class="help-block text-danger">{{error}}</p>
                        {% endif %}
                    </div>
                    <div class="control-group mb-3">
                        {{form.subject}}
                        {% if error in form.name.errors %}
                        <p class="help-block text-danger">{{error}}</p>
                        {% endif %}
                    </div>
                    <div class="control-group mb-3">
                        {{form.message}}
                        {% if error in form.name.errors %}
                        <p class="help-block text-danger">{{error}}</p>
                        {% endif %}
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send
                            Message</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-5 mb-5">
            <div class="bg-light p-30 mb-30">
                {% comment %} <iframe style="width: 100%; height: 250px;"
                src="{% static 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1086.551352340676!2d49.81764959417864!3d40.40746342436538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030879a5a54bdcb%3A0xb053b14ed10be5d1!2s11%20Ali%20Mustafayev%2C%20Baku!5e0!3m2!1str!2saz!4v1710785777766!5m2!1str!2saz' %}"
                frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe> {% endcomment %}
                <iframe style="width: 100%; height: 250px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1086.551352340676!2d49.81764959417864!3d40.40746342436538!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030879a5a54bdcb%3A0xb053b14ed10be5d1!2s11%20Ali%20Mustafayev%2C%20Baku!5e0!3m2!1str!2saz!4v1710785777766!5m2!1str!2saz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="bg-light p-30 mb-3">
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Bakı Alı Mustafayev 11</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>playstationservice19@gmail.com</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>055-708-37-95</p>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock main %}

